        function initScatter() {
            // 基于准备好的dom，初始化echarts实例
            var myChart = echarts.init(document.getElementById('m4'));
            var option = {
                title: {
                    text: 'Male and female height and weight distribution',
                    subtext: 'Data from: Heinz 2003'
                },
                grid: {
                    left: '3%',
                    right: '7%',
                    bottom: '7%',
                    containLabel: true
                 },

                tooltip: {

                    showDelay: 0,
                    formatter: function (params) {
                        if (params.value.length > 1) {
                            return (
                                params.seriesName +
                                ' :<br/>' +
                                params.value[0] +
                                'cm ' +
                                params.value[1] +
                                'kg '
                            );
                        } else {
                            return (
                                params.seriesName +
                                ' :<br/>' +
                                params.name +
                                ' : ' +
                                params.value +
                                'kg '
                            );
                        }
                    },
                    axisPointer: {
                        show: true,
                        type: 'cross',
                        lineStyle: {
                            type: 'dashed',
                            width: 1
                        }
                    }
                },
                toolbox: {
                    feature: {
                        dataZoom: {},
                        brush: {
                            type: ['rect', 'polygon', 'clear']
                        }
                    }
                },
                brush: {},
                legend: {
                    data: ['Female', 'Male'],
                    left: 'center',
                    bottom: 10
                },
                xAxis: [
                    {
                      type: 'value',
                      scale: true,
                      axisLabel: {
                        formatter: '{value} cm'
                      },
                      splitLine: {
                        show: false
                      }
                    }
                ],
                yAxis: [
                    {
                      type: 'value',
                      scale: true,
                      axisLabel: {
                        formatter: '{value} kg'
                      },
                      splitLine: {
                        show: false
                      }
                    }
                ],
                series: [
                    {
                        name: 'Female',
                        type: 'scatter',
                        emphasis: {
                            focus: 'series'
                        },
                        data: [[161.2, 51.6], [167.5, 59.0], [159.5, 49.2], [157.0, 63.0], [155.8, 53.6],[170.0, 59.0], [159.1, 47.6], [166.0, 69.8], [176.2, 66.8], [160.2, 75.2]],


                        markArea: {
                            silent: true,
                            itemStyle: {
                              color: 'transparent',
                              borderWidth: 1,
                              borderType: 'dashed'
                            },
                            data: [
                              [
                                {
                                  name: 'Female Data Range',
                                  xAxis: 'min',
                                  yAxis: 'min'
                                },
                                {
                                  xAxis: 'max',
                                  yAxis: 'max'
                                }
                              ]
                            ]
                        },
                        markPoint: {
                            data: [
                              { type: 'max', name: 'Max' },
                              { type: 'min', name: 'Min' }
                            ]
                        },
                        markLine: {
                            lineStyle: {
                              type: 'solid'
                            },
                            data: [{ type: 'average', name: 'AVG' }, { xAxis: 160 }]
                        },

                    }
                    {
                        name: 'Male',
                        type: 'scatter',
                        emphasis: {
                            focus: 'series'
                        },
                        data:[[174.0, 65.6], [175.3, 71.8], [193.5, 80.7], [186.5, 72.6], [187.2, 78.8],[181.5, 74.8], [184.0, 86.4], [184.5, 78.4], [175.0, 62.0], [184.0, 81.6]],
                        markArea: {
                            silent: true,
                            itemStyle: {
                              color: 'transparent',
                              borderWidth: 1,
                              borderType: 'dashed'
                            },
                            data: [
                              [
                                {
                                  name: 'Male Data Range',
                                  xAxis: 'min',
                                  yAxis: 'min'
                                },
                                {
                                  xAxis: 'max',
                                  yAxis: 'max'
                                }
                              ]
                            ]
                        },
                        markPoint: {
                            data: [
                              { type: 'max', name: 'Max' },
                              { type: 'min', name: 'Min' }
                            ]
                        },
                         markLine: {
                            lineStyle: {
                              type: 'solid'
                            },
                            data: [{ type: 'average', name: 'Average' }, { xAxis: 170 }]
                         }


                    }
                ]
            };

            $.ajax({
                url: "/chart/scatter/",
                type: "get",
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {


                        myChart.setOption(option);
                    }
                }
            })

        }
